/*@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');*/

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: #457b9d;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
}

header {
    padding: 1px;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1d3557;
}

body a {
    color: #457b9d;
}

img {
    float: right;
    margin: 10px;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

h2 {
    margin-bottom: 0;
}

a:hover {
    color: #a8dadc;
}

a:link {
    text-decoration: none;
}

footer {
    font-size: 16px;
    padding: 1px;
}

#lastUpdatedText {
    font-size: 14px;
}

footer a {
    color: white;
}