@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Montserrat&display=swap');
body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Montserrat', Arial, sans-serif;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: #457B9D;
    color: white;
    text-align: center;
    border-radius: 25px;
}

header {
    padding: 1.5rem;
}

p img {
    float: right;
    margin: 10px;
    border: 1px solid #A8DADC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Berkshire Swash', cursive, sans-serif;
}