header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: #457b9d;
    color: white;
    text-align: center;
}

header {
    padding: 1px;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #1d3557;
}

body a {
    color: #457b9d;
}

h3 {
    background-color: #1d3557;
    color: white;
    margin-top: 0px;
    padding: 0.20em;
}

footer {
    font-size: 16px;
    padding: 1px;
}

footer a {
    color: white;
}

a:hover {
    color: #a8dadc;
}

a:link {
    text-decoration: none;
}

section img {
    max-width: 100%;
}


/* phone or baseline views **************************/

main {
    max-width: 767px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #eee;
}


/* Tablet Views ******************************/

@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    section:nth-child(2) {
        display: block;
    }
    section:nth-child(3) {
        grid-column: span 2;
    }
    main picture {
        display: block;
    }
    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid #bbb;
    }
}


/* Desktop Views ****************************/

@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    section:nth-child(3) {
        grid-column: span 1;
    }
}