/*Desktop Views***********************/

@media only screen and (min-width: 60em) {
    .logo-wrapper img {
        width: 100%;
    }
    .header-section h1 {
        font-size: 3rem;
    }
    #motto {
        letter-spacing: 1.5pt;
        /*margin-left: 15px;*/
    }
    .navigation {
        display: flex;
    }
    .navigation a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li:first-child {
        display: none;
    }
    #content {
        font-size: 18px;
    }
    footer p {
        font-size: 15px;
    }
}