@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');
header {
    width: 100%;
}

header,
footer {
    background-color: #0e769a;
    color: white;
    text-align: center;
}

.logo-wrapper img {
    display: inline-block;
    justify-content: center;
}

.logo-wrapper h1 {
    display: inline-block;
}

#content {
    max-width: 1300px;
    margin: 0 auto;
}

#town-name {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


/*Section 1**********************************/

#weather-summary {
    background-color: #E6E6E6;
}


/*Section 2**********************************/

#second-sec {
    background-color: #E6E6E6;
}


/*Section 3**********************************/

#third-sec {
    background-color: #E6E6E6;
}


/*Footer************************************/

#fourth-sec {
    background-color: #E6E6E6;
}

footer p {
    font-size: 0.9em;
}

footer p:first-child {
    padding-top: 10px;
}

footer p:last-child {
    padding-bottom: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ffaa32;
}

footer a:link {
    text-decoration: none;
}