@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
header {
    max-width: 100%;
}

header h1 {
    font-family: 'Comfortaa', cursive;
}

header p {
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    background-color: #0e769a;
    color: white;
    text-align: center;
}

body,
footer {
    max-width: 760px;
}


/*Footer************************************/


/*footer {
    font-size: 16px;
    padding: 1px;
}*/

footer a {
    color: white;
}

a:hover {
    color: #ffaa32;
}

a:link {
    text-decoration: none;
}