@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
header,
nav {
    width: 100%;
}

header,
footer {
    background-color: #0e769a;
    color: white;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#hero-image {
    margin: auto;
}

main,
footer {
    max-width: 760px;
}


/*Footer************************************/


/*footer {
    font-size: 16px;
    padding: 1px;
}*/

footer a {
    color: white;
}

a:hover {
    color: #ffaa32;
}

a:link {
    text-decoration: none;
}