/*Tablet and Medium Views************************/

@media only screen and (min-width: 32.5em) {
    header img {
        width: 100px;
        height: auto;
    }
    .header-text h1 {
        font-size: 2.5rem;
    }
    .header-text p {
        letter-spacing: 1.1pt;
        font-size: larger;
    }
    .content {
        font-size: 16px;
    }
    .cards div {
        display: flex;
        flex-direction: row;
    }
    .cards div:nth-child(odd) {
        flex-direction: row-reverse;
    }
    /*Footer**********************/
    footer p,
    address {
        font-size: 14px;
    }
}