@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

/*MOBILE VIEWS*******************************/

header,
main,
footer {
    margin: 0 auto;
}

header,
footer {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;
    color: #4D4D96;
    font-weight: bold;
}

h1 {
    margin: 5px;
    padding-bottom: 0.25em;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.25em;
    background-color: #dddddd;
    padding: 1em;
    box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.5);
}

.cards section {
    background-color: #B9B9CC;
    border: 1px solid #4D4D96;
    text-align: center;
}

.cards section img {
    box-shadow: 5px 5px 18px rgb(0, 0, 0, 0.5);
    width: 50%;
    height: auto;
}


/*TABLET VIEWS******************************/

@media only screen and (min-width: 32.5em) {
    .cards {
        grid-template-columns: 1fr 1fr;
        margin: 0 1em 1em 1em;
    }
}


/*DESKTOP VIEWS****************************/

@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}