@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

table {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

table,
th,
td {
    border: 1px solid LightGray;
    border-collapse: collapse;
}

td, th {
    padding: 0.25em 0.5em 0.25em 0.5em;
}

thead tr th, tfoot tr th {
    background-color: #7fb9c2;
    color: black;
}

table th,
#nov-sales-goal {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(odd) {
    background-color: #E7FFED;
}

tbody tr{
    background-color: #E7F0ED;
}

.italicize {
    font-style: italic;
}

thead th tr{
    font-size: larger;
    font-weight: 900;
}

tfoot tr th {
    font-size: 11px;
    font-weight: normal;
    padding: 0.5em;
}