@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

h1 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

table {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    box-shadow:  10px 10px 10px rgb(98, 140, 166, 0.8);
    margin: auto;
}

table,
th,
td {
    border: 1px solid LightGray;
    border-collapse: collapse;
}

td,
th {
    padding: 0.5em;
}

thead tr th,
tfoot tr th {
    background-color: #7fb9c2;
    color: black;
}

table th,
#nov-sales-goal {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(odd) {
    background-color: #E7FFED;
}

tbody tr {
    background-color: #E7F0ED;
}

.italicize {
    font-style: italic;
}

thead tr th {
    font-size: 1.5em;
    font-weight: 900;
}

tfoot tr th {
    font-size: 0.75em;
    font-weight: normal;
    padding: 0.5em;
}

th {
    font-size: 1.1em;
}

footer {
    text-align: center;
}