@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

table {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

table th {
    background-color: #628ca6;
}

table .table-title, table .table-footer {
    background-color: #7fb9c2;
}