@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');
header {
    width: 100%;
}

header,
footer {
    background-color: #0e769a;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text h1 {
    font-size: 1.6rem;
    margin-bottom: -0.4em;
}

.header-text {
    text-align: left;
    margin-left: 0.5em;
}

header img {
    width: 80px;
    height: auto;
}


/*Navigation****************************************************/

nav {
    background-color: #e6e6e6;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

nav>ul {
    margin: 0
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #1e1e1e;
    padding: 0.8rem 2%;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation .active {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.navigation a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.responsive li {
    display: block;
}


/*Body****************************************************/

.content {
    max-width: 960px;
    margin: 0 auto;
}

.town-name {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #1e1e1e;
}

.first-sec,
.second-sec,
.third-sec {
    margin-top: 1em;
    margin-bottom: 1em;
}


/*Section 1**********************************/

.first-sec {
    position: relative;
}

.first-sec img {
    width: 100%;
}

.weather-summary {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 0.3rem;
    background-image: linear-gradient(to bottom right, #FFAA32, #FFD82D);
    opacity: 0.9;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.weather-summary h3, .weather-summary p {
    margin: 0;
    text-align: right;
  }

.first-sec table {
    font-size: 13px;
}

.conditionsLeft {
    font-weight: bold;
  }

/*Section 2**********************************/

.second-sec {
    display: none;
}


/*Section 3**********************************/

.third-sec {
    background-color: #E6E6E6;
}

article {
    padding: 0em 1em 1em 1em;
}

article h3 {
    padding-top: 1em;
    margin-bottom: 0;
}

article .author {
    font-size: smaller;
    margin-top: 0;
}


/*Section 4**********************************/

.fourth-sec {
    background-color: #E6E6E6;
    padding: 0.5em;
}

.map {
    display: none;
}

.contact-info {
    text-align: center;
}

address {
    padding-bottom: 0.5em;
}


/*Footer************************************/

footer p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

footer p:first-child {
    padding-top: 10px;
}

footer p:last-child {
    padding-bottom: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ffaa32;
}

footer a:link {
    text-decoration: none;
}