@media only screen and (min-width: 60em) {
    header {
        font-size: 1.17em;
    }
    header nav .navigation li:first-child {
        display: none;
    }
    header nav .navigation {
        flex-direction: row;
    }
    header nav .navigation li {
        display: block;
    }
    .hero-text h1 {
        font-size: 4.625em;
    }
    .hero-text p {
        font-size: 1.17em;
    }
}