@media only screen and (min-width: 32.5em) {
    .hide {
        display: block;
    }
    header {
        font-size: 1.1em;
    }
    /*hero*/
    .hero-text h1 {
        font-size: 2.5em;
    }
    .hero-text p {
        font-size: 1.1em;
    }
    /*about*/
    .services-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2vw;
    }
    .service-card {
        text-align: left;
    }
    /*gallery*/
    .image-container {
        grid-template-columns: 1fr 1fr;
    }
    /*testimonials*/
    .card-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
    }
    /*Guides*/
    .guides-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vh;
    }
    .guide {
        text-align: left;
    }
    /*contact*/
    .contact-form {
        text-align: left;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2vw;
    }
    .contact-form form {
        margin-bottom: 0;
    }
    /*footer*/
    .footer-div {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1rem;
        text-align: left;
    }
    .address {
        grid-column: 1;
        grid-row: 1;
    }
    footer nav {
        grid-column: 2;
        grid-row: 1;
    }
    .footer-links {
        grid-column: 3;
        grid-row: 1;
    }
    .social-links {
        grid-column: 1;
        grid-row: 2;
    }
    .copyright {
        grid-column: 3;
        grid-row: 2;
    }
    .subscribe {
        grid-column: 2;
        grid-row: 2;
    }
}