@media only screen and (min-width: 32.5em) {
    header {
        font-size: 1.1em;
    }
    .hero {
        flex-direction: row;
    }
    .hero-text {
        text-align: left;
        min-width: 50%;
    }
    .hero-text h1 {
        font-size: 2.5em;
    }
    .hero-text p {
        font-size: 1.1em;
    }
    .hero button {
        margin-bottom: 0;
    }
}