/*Header & Nav**************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
}

header nav .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header nav .navigation li:first-child {
    display: block;
}

header nav .navigation li {
    display: none;
}

header nav .navigation li a {
    text-decoration: none;
    margin: 1rem;
    display: block;
    color: #02070a;
}

header nav .navigation li a:hover,
.logo:hover {
    color: #113448;
}

.navigation .active {
    border-bottom: 0.25rem solid #02070a;
}

header nav .responsive li {
    display: block;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: #02070a;
}


/*Body***************/

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #fdfefe;
    color: #02070a
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.hide {
    display: none;
}

.special {
    font-size: smaller;
    text-transform: uppercase;
    color: #556A19;
    margin-bottom: 1rem;
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.text {
    padding: 1rem;
}

.text section {
    margin-bottom: 2%;
}

a {
    text-decoration: none;
}

a .button {
    display: inline-block;
}


/*Index**************/

.hero {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
}

.subpage-hero {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
}

.hero-text {
    margin: auto;
    text-align: center;
    color: white;
    padding: 1rem;
}

.hero-text p {
    margin-bottom: 1rem;
}

.hero .button {
    background-color: transparent;
    background-image: none;
    border: solid 3px white;
    padding: 1% 2% 1% 2%;
}

.hero .button:hover {
    background-color: white;
    color: black;
    transition: all 0.3s;
}


/*About**************/

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
}

.about img {
    border-radius: 0.25rem;
    width: 100%;
    margin-top: 1rem;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 2vh;
    padding: 0 1rem 1rem 1rem;
}

.service-card {
    text-align: center
}


/*Current conditions*********/

.current-conditions {
    background-color: #fbfbfb;
    padding: 1rem;
}

.current-conditions-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 2vh;
}

.current-news {
    text-align: center;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: white;
    padding: 1rem;
}

.location-info {
    grid-column: 1;
    grid-row: 1;
}

.temp-info {
    display: flex;
    align-items: center;
}

#tempId {
    font-size: 2em;
}

.conditions-info {
    grid-column: 2;
    grid-row: 1;
}

.forecast {
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-card {
    text-align: center;
    margin-right: 2%;
}

.forecast-card:last-child {
    margin-right: 0;
}

.dayClass,
.forecast-card p {
    text-transform: uppercase;
    font-size: smaller;
}


/*adventures***************/

.gallery {
    text-align: center;
    padding: 1rem;
}

.image-container {
    margin: 2% auto auto auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
}

.image-container figure {
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
}

.image-container .caption {
    margin: 1rem;
}

.image-container figure img {
    width: 100%;
    height: auto;
}

.image-container .button {
    background-color: #4d9332;
    margin: 0 0 1rem 1rem;
    font-weight: normal;
}

.image-container .button:hover {
    background-color: #43802b;
}


/*Testimonials**************/

.testimonials {
    background-color: #fbfbfb;
    padding: 1rem;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vh;
    margin: 2% auto auto auto;
}

.card {
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card img {
    border-radius: 50%;
    margin-bottom: 2%;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*Guides****************/

.color {
    width: 100%;
    background-color: #fbfbfb;
    text-align: center;
    padding: 1rem;
}

.guides-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vh;
    margin: 2% auto auto auto;
}

.guide {
    text-align: left;
    padding: 1rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.guide #name1,
.guide #name2,
.guide #name3,
.guide #name4 {
    font-weight: bold;
    font-size: 1.1rem;
}

.guide img {
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    grid-column: 1;
    grid-row: 1;
}

.guide p {
    margin: 0;
}

.guide .guide-stats {
    grid-column: 2;
    grid-row: 1;
}

.guide .guide-bio {
    grid-column: 1 / 3;
    grid-row: 2;
}


/*Reservation**********/

.reservation-form {
    padding: 1rem;
}

form fieldset {
    margin: auto;
    background-color: #fbfbfb;
    border: solid #eeeeee;
    margin-bottom: 2%;
    border-radius: 0.25rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    font-size: 0.9rem;
    text-align: left;
}

form label.top input,
form label.top select,
form label.top textarea {
    display: block;
    border: solid 1px #d4d4d4;
    border-radius: 0.25rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
    width: 100%;
}

form label.top textarea {
    resize: vertical;
}

.reservation-form input[type="submit"],
.contact-form input[type="submit"],
main .button {
    background-color: #113448;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.reservation-form input[type="submit"],
.contact-form input[type="submit"] {
    border: solid 3px white;
}

.reservation-form input[type="submit"]:hover,
.contact-form input[type="submit"]:hover,
main .button:hover {
    background-color: #02070a;
}

.table-container {
    padding: 1rem;
    text-align: center;
}

.table-container i {
    color: #61B93E;
    margin-right: 2%;
}

.table-container table {
    width: 100%;
    border-radius: 0.25rem;
    margin-top: 2%;
}

th,
td {
    padding: 0.75rem
}

.table-container table th {
    background-color: #e1e1e1;
}

.table-container table tr {
    background-color: #eeeeee;
}

.table-container table tr:nth-child(even) {
    background-color: #fbfbfb;
}


/*Contact**************/

.contact-form {
    text-align: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.contact-form form {
    margin-bottom: 1rem;
}

.contact-form i {
    color: #61B93E;
    margin-right: 2%;
}

.contact-form a i {
    color: #43802b;
}

.contact-form a {
    text-decoration: none;
}

.contact-form input[type="submit"] {
    margin-top: 2%
}

iframe {
    width: 100%;
}


/*Footer**************/

footer {
    width: 100%;
    background-color: #113448;
    color: white;
    padding: 1rem;
}

.footer-div {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 1rem;
}

footer nav ul,
footer .footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav ul li a,
footer .footer-links ul li a,
.social-links a,
.address .logo {
    text-decoration: none;
    color: white;
}

.address {
    grid-column: 1;
    grid-row: 1;
}

.footer-links {
    grid-column: 1;
    grid-row: 2;
}

.subscribe {
    grid-column: 1;
    grid-row: 3;
}

.subscribe form input {
    border: solid 1px #eeeeee;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.subscribe input[type="submit"] {
    color: #113448;
    background-color: white;
    padding: 0.25rem 0 0.25rem 0.25rem;
    border-radius: 0 0.25rem 0.25rem 0;
    font-weight: bold;
    border: 1px solid white;
}

.social-links {
    grid-column: 1;
    grid-row: 4;
}

.social-links a {
    margin-right: 2%;
}

.copyright {
    grid-column: 1;
    grid-row: 5;
    font-size: smaller;
}

footer nav ul li a:hover,
footer .footer-links ul li a:hover,
.social-links a:hover,
.address .logo:hover {
    color: #d4d4d4;
}