/*Header & Nav**************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
}

header nav .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header nav .navigation li:first-child {
    display: block;
}

header nav .navigation li {
    display: none;
}

header nav .navigation li a {
    text-decoration: none;
    padding: 1em;
    display: block;
    color: #40494e;
}

header nav .navigation li a:hover {
    color: #B7B440;
}

header nav .responsive li {
    display: block;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #fdfefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo Da 2', cursive;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: #40494e;
}


/*Index**************/

.hero {
    background-color: #e9f0f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    margin: 0;
}

.hero-text p {
    font-size: 1em;
}

.hero img {
    border-radius: 50%;
    width: 100%;
}

.hero button {
    margin-bottom: 2%;
    background-image: linear-gradient(to right, #adc7e9, #85acde);
    color: white;
    border: none;
    padding: 2%;
    border-radius: 3px;
}

.hero button:hover {
    opacity: 70%;
}


/*Footer**************/

footer {
    text-align: center;
    width: 100%;
    background-color: #40494e;
    color: white;
}

.social-links a {
    text-decoration: none;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer nav li {
    padding: 1em;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
}

footer nav ul li a:hover {
    border-bottom: 2px solid black;
}