/*@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');*/

header {
    width: 100%;
}

header,
footer {
    background-color: #0e769a;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text h1 {
    font-size: 1.6rem;
    margin-bottom: -0.4em;
}

.header-text {
    text-align: left;
    margin-left: 0.5em;
}

header img {
    width: 80px;
    height: auto;
}


/*Navigation****************************************************/

nav {
    background-color: #e6e6e6;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Comfortaa', sans-serif;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

nav>ul {
    margin: 0
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #1e1e1e;
    padding: 0.8rem 2%;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation .active {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.navigation a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.responsive li {
    display: block;
}


/*All Body****************************************************/

.content {
    max-width: 960px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #1e1e1e;
}

/*Index.html******************************************/
.brief {
    display: block;
    background-color: #E6E6E6;
    margin-top: 1em;
    text-align: center;
}

.brief img {
    padding: 1em 1em 0 1em;
}

.brief>div {
    padding: 1em;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    justify-items: center;
}

.cards section {
    background-color: #E6E6E6;
}

.cards section h2,
.cards section h5 {
    background-color: #0e769a;
    color: white;
    margin: 0;
    text-align: center;
}


/*Town Page Section 1**********************************/
.first-sec,
.second-sec,
.third-sec {
    margin-top: 1em;
    margin-bottom: 1em;
}

.first-sec {
    position: relative;
}

.first-sec img {
    width: 100%;
}

.weather-summary {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 0.3rem;
    background-image: linear-gradient(to bottom right, #FFAA32, #FFD82D);
    opacity: 0.9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
}

.weather-summary h3,
.weather-summary p {
    margin: 0;
    text-align: right;
}

.conditionsLeft {
    font-weight: bold;
}


/*Town Page Section 2**********************************/

.second-sec {
    display: none;
}


/*Town Page Section 3**********************************/

.third-sec {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    padding: 0em 1em 1em 1em;
}

article h3 {
    padding-top: 1em;
    margin-bottom: 0;
}

article .author {
    font-size: smaller;
    margin-top: 0;
}

.third-sec img {
    max-width: 100%;
    margin-bottom: -1em;
    margin-top: 1em;
}


/*Town Page Section 4**********************************/

.fourth-sec {
    background-color: #E6E6E6;
    padding: 0.5em;
}

.map {
    display: none;
}

.contact-info {
    text-align: center;
}

address {
    padding-bottom: 0.5em;
    font-size: 13px;
}

.social-links a {
    padding: 0.1em;
}

/*Form**************************************/

form {
    margin: auto;
    width: 30em;
}

form fieldset {
    background-color: #e6e6e6;
    border: solid #d9d9d9;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

form fieldset legend {
    font-size: 1.125em;
    padding: 0.5rem;
    font-weight: bold;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    font-size: 0.9rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    display: block;
    border: solid 1px #A3A3A3;
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: 0.75rem;
}

input[type="submit"] {
    background-color: #15AADC;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    margin-left: 10em;
    /*width: 96%;*/
    max-width: 20rem;
}

input[type="submit"]:hover {
    background-color: #0e769a;
}

form label.top input:required {
    border-left: #15AADC solid 0.375em;
}

form label.top input:required:valid {
    border-left: #0e769a solid 0.375em;
}

#ratingvalue {
    margin: 0 15px;
}

/*Gallery***********************************/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

figure {
    margin: 0;
}

.grid-container figure img {
    width: 100%;
}

.caption {
    font-size: 13px;
    padding: 0.25em;
}

/*Footer************************************/

footer p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

footer p:first-child {
    padding-top: 10px;
}

footer p:last-child {
    padding-bottom: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ffaa32;
}

footer a:link {
    text-decoration: none;
}