/*Navigation************************************/

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
nav {
    background-color: #e6e6e6;
    text-align: center;
    max-width: 767px;
    margin: 0 auto;
    border-radius: 0px 0px 5px 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #1e1e1e;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

a.active:hover {
    color: black;
}

nav li a:hover:not(.active) {
    background-color: #a3a3a3;
    color: white;
}

.active {
    background-color: #ffe36c;
}


/*Main Page Content************************************/


/*header, nav, footer, body*/

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: #0e769a;
    color: white;
    text-align: center;
    border-radius: 5px;
}

header {
    padding: 1px 0px 0px 0px;
}

body {
    background-color: #f7f7f7;
    color: #1e1e1e;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


/*target audience*/

#persona {
    width: 100%;
}

#persona table,
#persona th,
#persona td {
    border: 1px solid black;
    border-collapse: collapse;
}

#persona th,
#persona td {
    text-align: left;
    padding: 0.3em;
}

#persona th {
    background-color: #e6e6e6;
}


/*typography*/

#typography {
    border-collapse: collapse;
    width: 100%;
}

#typography th,
#typography td {
    padding: 0.3em;
}

#typography tr:nth-child(odd) {
    background-color: #f2f2f2
}

#sample1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
}

#sample2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#sample3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#sample4 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

#sample5 {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

#sample6 {
    font-family: 'Comfortaa', cursive;
    font-size: 20px
}

#sample7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


/*color scheme*/

.colors {
    width: 100%;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #e6e6e6;
}

.colors td {
    width: 20%;
    height: 4em;
}

.primary {
    background-color: #15AADC;
}

.accent1 {
    background-color: #FFD82D;
}

.accent2 {
    background-color: #FFAA32;
}

.neutral1 {
    background-color: #E6E6E6;
}

.neutral2 {
    background-color: #A3A3A3;
}


/*Footer************************************/

footer {
    font-size: 16px;
    padding: 1px;
}

footer a {
    color: white;
}

a:hover {
    color: #ffaa32;
}

a:link {
    text-decoration: none;
}